* {
    -webkit-tap-highlight-color: transparent;
    box-sizing: border-box
}

html {
    font-size: 10px
}

body {
    line-height: 1.4;
    color: #333;
    font-family: arial;
    font-size: 1.2rem;
    font-size: 12px;
    background: white
}

input,textarea,select {
    font-size: 12px;
    font-size: 100%;
    font-family: arial;
    font-family: inherit
}

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td {
    margin: 0;
    padding: 0
}

h4,h5,h6 {
    font-size: 1em
}

ul,ol {
    padding-left: 0;
    list-style-type: none
}

a {
    text-decoration: none
}

em {
    font-style: normal
}

img {
    border: 0;
    display: block
}

@font-face {
    font-family: 'estay';
    src: url("estay.eot");
    src: url("estay.eot") format("embedded-opentype"),url("estay.ttf") format("truetype"),url("estay.woff") format("woff"),url("estay.svg?") format("svg");
    font-weight: normal;
    font-style: normal
}

[class^="icon-"],[class*=" icon-"] {
    font-family: 'estay';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.icon-logo:before {
    content: "\ea0a"
}

.icon-phone:before {
    content: "\ea0b"
}

.icon-download:before {
    content: "\ea0c"
}

.icon-filter:before {
    content: "\ea0d"
}

.icon-price:before {
    content: "\ea0e"
}

.icon-sort:before {
    content: "\ea0f"
}

.icon-menu:before {
    content: "\ea01"
}

.icon-close-hollow:before {
    content: "\ea02"
}

.icon-close-solid:before {
    content: "\ea03"
}

.icon-search:before {
    content: "\ea04"
}

.icon-left:before {
    content: "\ea05"
}

.icon-location-hollow:before {
    content: "\ea06"
}

.icon-location-solid:before {
    content: "\ea07"
}

.icon-position:before {
    content: "\ea08"
}

.icon-right:before {
    content: "\ea09"
}

.icon-down:before {
    content: "\ea10"
}

.icon-tick:before {
    content: "\ea11"
}

.icon-calendar:before {
    content: "\ea12"
}

.icon-in:before {
    content: "\ea13"
}

.icon-out:before {
    content: "\ea14"
}

.icon-square:before {
    content: "\ea15"
}

.icon-bed:before {
    content: "\ea16"
}

.icon-wallet:before {
    content: "\ea17"
}

.icon-sun:before {
    content: "\ea18"
}

.icon-team:before {
    content: "\ea19"
}

.icon-free:before {
    content: "\ea20"
}

.icon-discount:before {
    content: "\ea21"
}

.icon-diamons:before {
    content: "\ea22"
}

.icon-user:before {
    content: "\ea50"
}

.icon-lock:before {
    content: "\ea51"
}

.icon-eye:before {
    content: "\ea52"
}

.icon-weixin:before {
    content: "\ea53"
}

.icon-code:before {
    content: "\ea54"
}

.icon-slide-chunk:before {
    content: "\ea55"
}

.icon-no-checkin:before {
    content: "\ea56"
}

.icon-no-pay:before {
    content: "\ea57"
}

.icon-no-remark:before {
    content: "\ea58"
}

.icon-is-remark:before {
    content: "\ea59"
}

.icon-is-cancel:before {
    content: "\ea60"
}

.icon-clock:before {
    content: "\ea61"
}

.icon-grade-star-empty:before {
    content: "\ea62"
}

.icon-grade-star-solid:before {
    content: "\ea63"
}

.icon-camera:before {
    content: "\ea64"
}

.icon-credit:before {
    content: "\ea65"
}

.icon-apartment:before {
    content: "\ea66"
}

.icon-message:before {
    content: "\ea67"
}

.icon-list:before {
    content: "\ea68"
}

.icon-coupon:before {
    content: "\ea69"
}

.icon-userinf:before {
    content: "\ea70"
}

.icon-no-affirm:before {
    content: "\ea71"
}

.icon-trash:before {
    content: "\ea72"
}

.icon-minus:before {
    content: "\ea73"
}

.icon-add:before {
    content: "\ea74"
}

.icon-ok:before {
    content: "\ea75"
}

.icon-fail:before {
    content: "\ea76"
}

.icon-order-over:before {
    content: "\ea77"
}

.icon-mobile:before {
    content: "\ea78"
}

.icon-close-eye:before {
    content: "\ea79"
}

.icon-key:before {
    content: "\ea80"
}

.icon-email:before {
    content: "\ea81"
}

.icon-question:before {
    content: "\ea82"
}

.icon-new-close:before {
    content: "\ea83"
}

.icon-thin-tick:before {
    content: "\ea84"
}

.icon-coupon-small:before {
    content: "\ea85"
}

.icon-HotWater:before {
    content: "\eb01"
}

.icon-ATM:before {
    content: "\eb02"
}

.icon-WIFI:before {
    content: "\eb03"
}

.icon-Security:before {
    content: "\eb04"
}

.icon-Strongbox:before {
    content: "\eb05"
}

.icon-Refrigerator:before {
    content: "\eb06"
}

.icon-DiningRoom:before {
    content: "\eb07"
}

.icon-Cooking:before {
    content: "\eb08"
}

.icon-Blower:before {
    content: "\eb09"
}

.icon-InductionCooker:before {
    content: "\eb10"
}

.icon-ElectricCooker:before {
    content: "\eb11"
}

.icon-Fan:before {
    content: "\eb12"
}

.icon-Television:before {
    content: "\eb13"
}

.icon-Lift:before {
    content: "\eb14"
}

.icon-ChildrenPark:before {
    content: "\eb15"
}

.icon-ButlerService:before {
    content: "\eb16"
}

.icon-LeftBaggage:before {
    content: "\eb17"
}

.icon-MeetingService:before {
    content: "\eb18"
}

.icon-ForeignCurrencyExchange:before {
    content: "\eb19"
}

.icon-FitnessRoom:before {
    content: "\eb20"
}

.icon-PickUpService:before {
    content: "\eb21"
}

.icon-Air-Condition:before {
    content: "\eb22"
}

.icon-Bathroom:before {
    content: "\eb23"
}

.icon-TravelService:before {
    content: "\eb24"
}

.icon-Washcloth:before {
    content: "\eb25"
}

.icon-Heating:before {
    content: "\eb26"
}

.icon-TicketService:before {
    content: "\eb27"
}

.icon-RecreationRoom:before {
    content: "\eb28"
}

.icon-SpeedyKettle:before {
    content: "\eb29"
}

.icon-BusinessServices:before {
    content: "\eb30"
}

.icon-LifeProducts:before {
    content: "\eb31"
}

.icon-Parking:before {
    content: "\eb32"
}

.icon-Slipper:before {
    content: "\eb33"
}

.icon-MicrowaveOven:before {
    content: "\eb34"
}

.icon-Toiletries:before {
    content: "\eb35"
}

.icon-LaundryService:before {
    content: "\eb36"
}

.icon-WashingMachine:before {
    content: "\eb37"
}

.icon-PostalService:before {
    content: "\eb38"
}

.icon-SwimmingPool:before {
    content: "\eb39"
}

.icon-WiredNetwork:before {
    content: "\eb40"
}

.icon-EntertainmentParty:before {
    content: "\eb41"
}

.icon-Bathtub:before {
    content: "\eb42"
}

.icon-CarRentalServices:before {
    content: "\eb43"
}

.icon-WakeupService:before {
    content: "\eb44"
}

html {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    -webkit-text-size-adjust: 100%;
    text-size-adjust: 100%;
    overflow: hidden;
    -webkit-overflow-scrolling: touch
}

body {
    height: 100%;
    width: 100%;
    font-family: "Helvetica-Light","Helvetica Neue", Helvetica, STHeiTi, sans-serif;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    position: relative;
    overflow: hidden;
    max-width: 640px;
    margin: 0 auto
}

ul,li {
    list-style: none
}

.hide {
    display: none
}

.clear-fix {
    overflow: auto
}

.clearfix {
    display: block
}

.clearfix::after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden
}

.none {
    display: none
}

.es-tbr {
    display: table-cell
}

.es-lh45 {
    line-height: 45px
}

.tc,.es_flow .es_header,.es_flow .es_header .title,.es_flow .es_header .left-icon,.es_flow .es_header .right-icon,.es_header_relative,.es_header_relative .title,.es_header_relative .left-icon,.es_header_relative .right-icon {
    text-align: center
}

.tr {
    text-align: right
}

.tl {
    text-align: left
}

.fr {
    float: right
}

.fl {
    float: left
}

.pdl-10px {
    padding-left: 10px
}

.pdl-20p {
    padding-left: 20%
}

.bg-milky {
    background-color: #F7F7F7
}

.cl-blue-light {
    color: #28A0DC
}

.cl-gray-light {
    color: #9E9F9F
}

.cl-gray-middle {
    color: #595757
}

.cl-blue-light {
    color: #28A0DC
}

.no-transition {
    -webkit-transition: none !important;
    transition: none !important
}

.rotate180 {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg)
}

.d-ilb {
    display: inline-block
}

.esLoading {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.3);
    position: fixed;
    z-index: 999
}

.esLoading .spinner {
    width: 70px;
    height: 70px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -35px 0 0 -35px
}

.esLoading .spinner::before {
    content: '';
    position: absolute;
    top: -5px;
    right: -5px;
    bottom: -5px;
    left: -5px;
    border-radius: 5px;
    background: rgba(0,0,0,0.6)
}

.esLoading .circle {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0
}

.esLoading .circle:before {
    content: '';
    display: block;
    margin: 0 auto;
    width: 6%;
    height: 6%;
    background-color: #fff;
    border-radius: 100%;
    -webkit-animation: bouncedelay 1.2s infinite ease-in-out;
    animation: bouncedelay 1.2s infinite ease-in-out;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both
}

@-webkit-keyframes bouncedelay {
    0%,80%,100% {
        opacity: 0
    }

    40% {
        opacity: 1
    }
}

@keyframes bouncedelay {
    0%,80%,100% {
        opacity: 0
    }

    40% {
        opacity: 1
    }
}

.esLoading .circle2 {
    -webkit-transform: rotate(30deg);
    transform: rotate(30deg)
}

.esLoading .circle2:before {
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s
}

.esLoading .circle3 {
    -webkit-transform: rotate(60deg);
    transform: rotate(60deg)
}

.esLoading .circle3:before {
    -webkit-animation-delay: -1s;
    animation-delay: -1s
}

.esLoading .circle4 {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg)
}

.esLoading .circle4:before {
    -webkit-animation-delay: -.9s;
    animation-delay: -.9s
}

.esLoading .circle5 {
    -webkit-transform: rotate(120deg);
    transform: rotate(120deg)
}

.esLoading .circle5:before {
    -webkit-animation-delay: -.8s;
    animation-delay: -.8s
}

.esLoading .circle6 {
    -webkit-transform: rotate(150deg);
    transform: rotate(150deg)
}

.esLoading .circle6:before {
    -webkit-animation-delay: -.7s;
    animation-delay: -.7s
}

.esLoading .circle7 {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg)
}

.esLoading .circle7:before {
    -webkit-animation-delay: -.6s;
    animation-delay: -.6s
}

.esLoading .circle8 {
    -webkit-transform: rotate(210deg);
    transform: rotate(210deg)
}

.esLoading .circle8:before {
    -webkit-animation-delay: -.5s;
    animation-delay: -.5s
}

.esLoading .circle9 {
    -webkit-transform: rotate(240deg);
    transform: rotate(240deg)
}

.esLoading .circle9:before {
    -webkit-animation-delay: -.4s;
    animation-delay: -.4s
}

.esLoading .circle10 {
    -webkit-transform: rotate(270deg);
    transform: rotate(270deg)
}

.esLoading .circle10:before {
    -webkit-animation-delay: -.3s;
    animation-delay: -.3s
}

.esLoading .circle11 {
    -webkit-transform: rotate(300deg);
    transform: rotate(300deg)
}

.esLoading .circle11:before {
    -webkit-animation-delay: -.2s;
    animation-delay: -.2s
}

.esLoading .circle12 {
    -webkit-transform: rotate(330deg);
    transform: rotate(330deg)
}

.esLoading .circle12:before {
    -webkit-animation-delay: -.1s;
    animation-delay: -.1s
}

.esLoading .icon {
    position: absolute;
    width: 34px;
    height: 34px;
    left: 50%;
    top: 50%;
    margin: -16px 0 0 -16px;
    color: white;
    font-size: 34px
}

.color-orange {
    color: #E78C00
}

.nowrap {
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: keep-all;
    white-space: nowrap
}

input[type=number] {
    -moz-appearance: textfield
}

input[type=number]::-webkit-inner-spin-button,input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0
}

.imgcode-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 75%;
    height: 200px;
    border-radius: 5px;
    background-color: #fff;
    text-align: center;
    z-index: 201
}

.imgcode-wrapper h2 {
    margin: 0 auto;
    width: 90%;
    height: 60px;
    border-bottom: 1px solid #D7D7D7;
    line-height: 60px;
    color: #E78C00;
    font-weight: normal
}

.imgcode-wrapper div {
    padding: 28px 5%;
    border-bottom: 1px solid #E0E0E0
}

.imgcode-wrapper div .imgcode {
    float: left;
    width: 65%;
    height: 3rem;
    padding-left: 3%;
    border: 1px solid #E0E0E0;
    outline: none;
    border-radius: 5px
}

.imgcode-wrapper div span {
    float: right;
    width: 32%;
    height: 3rem;
    border-radius: 5px
}

.imgcode-wrapper div span img {
    width: 100%;
    height: 97%
}

.imgcode-wrapper button {
    width: 100%;
    height: 40px;
    background-color: #fff;
    line-height: 40px;
    border: none;
    outline: none;
    color: #39f;
    font-size: 1.2rem;
    text-align: center
}

#mask-code {
    width: 100%;
    height: 100%;
    z-index: 200;
    background-color: rgba(0,0,0,0.3);
    position: absolute;
    top: 0;
    left: 0;
    display: none
}

.sideBar {
    position: fixed;
    top: 43px;
    right: 2px;
    z-index: 101;
    min-width: 120px
}

.sideBar:before {
    position: absolute;
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 8px;
    border-color: transparent transparent #fff transparent;
    top: -16px;
    right: 10px
}

.sideBar li {
    display: block;
    font-size: 1.5rem;
    height: 46px;
    line-height: 46px;
    background-color: #fff;
    border-bottom: 1px solid #eeeeee
}

.sideBar li a {
    color: #3E3A39;
    display: block;
    padding: 0 16px
}

.sideBar li a span {
    color: #E78C00
}

.sideBar li:first-child {
    border-top-left-radius: 7px;
    border-top-right-radius: 7px
}

.sideBar li:last-child {
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px
}

.kf-box {
    position: fixed;
    z-index: 101;
    top: 50%;
    width: 253px;
    padding: 10px 15px;
    background-color: #fff;
    border-radius: 10px;
    margin: 0 auto;
    left: 50%;
    margin-left: -126px;
    margin-top: -88px;
    color: #727171
}

.kf-box .close {
    position: absolute;
    top: 14px;
    right: 16px;
    font-size: 16px
}

.kf-box h2 {
    color: #E78C00;
    font-size: 18px;
    padding-bottom: 7px;
    margin-bottom: 7px;
    border-bottom: 1px solid #e7e7e7;
    font-weight: normal;
    text-align: center
}

.kf-box p {
    line-height: 24px
}

.kf-box dl {
    line-height: 18px
}

.kf-box dl dt {
    display: inline-block;
    width: 3%;
    vertical-align: top;
    text-align: center;
    margin-bottom: 6px
}

.kf-box dl dd {
    display: inline-block;
    width: 94%;
    margin-bottom: 6px;
    line-height: 1.4rem
}

.cfmask {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0,0,0,0.3);
    z-index: 100;
    display: none
}

.es_flow {
    width: 100%;
    height: 100%;
    min-height: 100%;
    min-width: 320px;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out
}

.es_flow .es_header {
    font-size: 0;
    background-color: #fff;
    position: absolute;
    width: 100%;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    border-bottom: 1px solid #dedede
}

.es_flow .es_header .title {
    color: #5ab45d;
    height: 49px;
    line-height: 49px;
    font-size: 1.9rem
}

.es_flow .es_header .left-icon,.es_flow .es_header .right-icon {
    font-size: 1.8rem;
    color: #5ab45d;
    position: absolute;
    height: 49px;
    line-height: 49px;
    display: inline-block
}

.es_flow .es_header .left-icon:active,.es_flow .es_header .right-icon:active {
    background: #fcfcfc
}

.es_flow .es_header .left-icon {
    width: 50px;
    left: 0;
    text-align: left;
    padding-left: 3%;
    margin-left: 0
}

.es_flow .es_header .right-icon {
    width: 50px;
    right: 0;
    text-align: right;
    padding-right: 3%
}

.es_flow .es_header .text {
    font-size: 1.6rem;
    width: initial;
    right: 0;
    padding: 0 10px;
    top: 0
}

.es_flow .es_content {
    position: absolute;
    top: 50px;
    left: 0;
    right: 0;
    bottom: 0;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    -webkit-transform: translateZ(0);
    transform: translateZ(0)
}

.es_flow.slide-left {
    -webkit-transform: translateX(-250px);
    transform: translateX(-250px)
}

.es_flow_relative {
    width: 100%;
    height: 100%;
    min-height: 100%;
    min-width: 320px;
    position: relative;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out
}

.es_flow_relative.slide-left {
    -webkit-transform: translateX(-250px);
    transform: translateX(-250px)
}

.es_header_relative {
    font-size: 0;
    background-color: #fff;
    position: relative;
    width: 100%;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    border-bottom: 1px solid #dedede
}

.es_header_relative .title {
    color: #5ab45d;
    height: 49px;
    line-height: 49px;
    font-size: 1.9rem
}

.es_header_relative .left-icon,.es_header_relative .right-icon {
    font-size: 1.8rem;
    color: #5ab45d;
    position: absolute;
    height: 49px;
    line-height: 49px;
    display: inline-block
}

.es_header_relative .left-icon:active,.es_header_relative .right-icon:active {
    background: #fcfcfc
}

.es_header_relative .left-icon {
    width: 50px;
    left: 0;
    text-align: left;
    padding-left: 10px
}

.es_header_relative .right-icon {
    width: 40px;
    right: 0
}

.es_header_relative .text {
    font-size: 1.6rem;
    width: initial;
    right: 0;
    padding: 0 10px;
    top: 0
}

.es_content_relative {
    position: relative
}

html,body {
    overflow: visible;
    overflow-x: hidden;
    position: relative
}

body {
    height: 100%
}

@media screen and (max-width: 250px) {
    html,body {
        font-size:9px
    }
}

@media screen and (max-width: 280px) {
    html,body {
        font-size:10px
    }
}

@media screen and (max-width: 330px) {
    html,body {
        font-size:11px
    }
}

@media screen and (max-width: 380px) {
    html,body {
        font-size:12px
    }
}

@media screen and (min-width: 380px) {
    html,body {
        font-size:13px;
        color: #000
    }
}

.sideBar li {
    font-size: 15px
}

.account {
    font-size: 16px;
    line-height: 16px;
    background-color: #f7f7f7;
    -webkit-transform: translate(100%, 0);
    transform: translate(100%, 0);
    overflow: hidden
}

.account .es_header {
    position: relative
}

.account .es_header i:active,.account .es_header div:active {
    background-color: transparent
}

.account .es_header .title {
    font-size: 1.5rem
}

.account .es_header i {
    font-size: 18px
}

.account form {
    width: 100%;
    padding: 0 5% 0 5%;
    overflow: hidden;
    background-color: #FFF;
    padding-bottom: 0;
    margin-bottom: 0;
    border-bottom: 1px solid #EFEFEF
}

.account form .input-contain {
    position: relative;
    font-size: 1em;
    border-bottom: 1px solid #EFEFEF;
    padding: 1em 0 0.3em
}

.account form .input-contain input {
    background-color: rgba(255,255,255,0);
    border: 0px;
    height: 2em;
    outline: none;
    color: #525252;
    padding-left: 2em;
    font-weight: 300;
    font-size: 1.5rem
}

.account form .input-contain ::-webkit-input-placeholder {
    color: #525252;
    opacity: 0.4;
    font-size: 1.3rem
}

.account form .input-contain :-moz-placeholder {
    color: #525252;
    opacity: 0.4;
    font-size: 1.3rem
}

.account form .input-contain ::-moz-placeholder {
    color: #525252;
    opacity: 0.4;
    font-size: 1.3rem
}

.account form .input-contain :-ms-input-placeholder {
    color: #525252;
    opacity: 0.4;
    font-size: 1.3rem
}

.account form .input-contain b,.account form .input-contain i {
    position: absolute;
    left: 0;
    color: #5ab45d;
    bottom: 0.6em;
    font-size: 1.2em
}

.account form .input-contain i {
    bottom: 0.7em
}

.account form .input-contain b {
    font-size: 0.9rem;
    left: 90%;
    top: 1.3rem;
    display: inline-block;
    width: 3rem;
    height: 3rem;
    line-height: 3rem;
    vertical-align: middle;
    text-align: center
}

.account form .input-contain b.icon-fail {
    font-size: 1.4rem
}

.account form .input-contain .delete-input {
    display: none
}

.account form .input-contain.input-code {
    width: 60%
}

.account form .input-contain.input-code button {
    position: absolute;
    left: 104%;
    bottom: -1px;
    background-color: #5ab45d;
    border: 0;
    height: 3.5em;
    width: 62%;
    border-radius: 5px;
    color: #fff
}

.account form .input-contain.input-code button.count {
    background-color: #9A9A9A
}

.account form>button {
    margin-top: 2rem;
    font-size: 1em;
    display: block;
    width: 100%;
    height: 2.8em;
    border: 0px;
    font-weight: 300;
    background-color: #5ab45d;
    color: #FFF;
    margin-bottom: 1em;
    border-radius: 5px
}

.account form .jump-page {
    color: #5ab45d;
    font-size: 1.2rem;
    float: right;
    margin-bottom: 1rem;
    font-weight: 300
}

.account form .jump-phone {
    float: left
}

.account.show {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0)
}

.account.over {
    -webkit-transform: translate(-100%, 0);
    transform: translate(-100%, 0)
}

.account .third-login {
    position: relative;
    text-align: center;
    margin-bottom: 2em;
    padding-top: 2em;
    background-color: #bg-white-E8
}

.account .third-login p {
    width: 12em;
    font-size: 0.7em;
    color: #525252;
    margin: 0 auto;
    background-color: rgba(255,255,255,0);
    height: 1.5em;
    margin-bottom: 1em
}

.account .third-login b {
    position: absolute;
    display: block;
    width: 28%;
    border-top: 1px solid #E2E2E2;
    top: 2.5em;
    right: 5%
}

.account .third-login b:first-child {
    left: 5%
}

.account .third-login i {
    font-size: 3em;
    color: #46A235
}

.account .register .import-contain {
    margin-top: -2rem
}

.account .register-tip {
    font-size: 0.7em;
    color: #525252;
    text-align: left;
    opacity: 0.8;
    margin-top: -0.5rem;
    margin-bottom: 1rem
}

.account .register-tip a {
    color: #5ab45d
}

.operate-tip {
    display: block;
    z-index: 101;
    position: absolute;
    top: 40%;
    background-color: #FFF;
    width: 68%;
    text-align: center;
    left: 50%;
    margin-left: -34%;
    border-radius: 5px;
    -webkit-animation: tip-show .5s;
    animation: tip-show .5s;
    vertical-align: middle;
    padding: 1rem 1%;
    font-size: 14px
}

.operate-tip p {
    line-height: 1.4em;
    display: inline-block
}

.opetate-tip-none {
    display: none
}

#mask {
    width: 100%;
    height: 100%;
    z-index: 100;
    background-color: rgba(0,0,0,0.3);
    position: absolute;
    top: 0;
    left: 0;
    display: none
}

.login-tip {
    margin: 0.5rem 4rem;
    position: absolute;
    bottom: 1rem
}

.login-tip p {
    color: #777;
    white-space: normal;
    font-weight: 300;
    font-size: 1rem;
    text-align: center
}

.login-tip p a {
    color: #5ab45d;
    font-size: 1rem
}

@-webkit-keyframes tip-show {
    0% {
        -webkit-transform: scale(0, 0);
        transform: scale(0, 0)
    }

    30% {
        -webkit-transform: scale(1, 1);
        transform: scale(1, 1)
    }

    65% {
        -webkit-transform: scale(1.2, 1.2);
        transform: scale(1.2, 1.2)
    }

    100% {
        -webkit-transform: scale(1, 1);
        transform: scale(1, 1)
    }
}

@keyframes tip-show {
    0% {
        -webkit-transform: scale(0, 0);
        transform: scale(0, 0)
    }

    30% {
        -webkit-transform: scale(1, 1);
        transform: scale(1, 1)
    }

    65% {
        -webkit-transform: scale(1.2, 1.2);
        transform: scale(1.2, 1.2)
    }

    100% {
        -webkit-transform: scale(1, 1);
        transform: scale(1, 1)
    }
}
