* {
    -webkit-tap-highlight-color: transparent;
    box-sizing: border-box
}

html {
    font-size: 10px
}

body {
    line-height: 1.4;
    color: #333;
    font-family: arial;
    font-size: 1.2rem;
    font-size: 12px;
    background: white
}

input,textarea,select {
    font-size: 12px;
    font-size: 100%;
    font-family: arial;
    font-family: inherit
}

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td {
    margin: 0;
    padding: 0
}

h4,h5,h6 {
    font-size: 1em
}

ul,ol {
    padding-left: 0;
    list-style-type: none
}

a {
    text-decoration: none
}

em {
    font-style: normal
}

img {
    border: 0;
    display: block
}

@font-face {
    font-family: 'estay';
    src: url("estay.eot");
    src: url("estay.eot") format("embedded-opentype"),url("estay.ttf") format("truetype"),url("estay.woff") format("woff"),url("estay.svg?") format("svg");
    font-weight: normal;
    font-style: normal
}

[class^="icon-"],[class*=" icon-"] {
    font-family: 'estay';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.icon-logo:before {
    content: "\ea0a"
}

.icon-phone:before {
    content: "\ea0b"
}

.icon-download:before {
    content: "\ea0c"
}

.icon-filter:before {
    content: "\ea0d"
}

.icon-price:before {
    content: "\ea0e"
}

.icon-sort:before {
    content: "\ea0f"
}

.icon-menu:before {
    content: "\ea01"
}

.icon-close-hollow:before {
    content: "\ea02"
}

.icon-close-solid:before {
    content: "\ea03"
}

.icon-search:before {
    content: "\ea04"
}

.icon-left:before {
    content: "\ea05"
}

.icon-location-hollow:before {
    content: "\ea06"
}

.icon-location-solid:before {
    content: "\ea07"
}

.icon-position:before {
    content: "\ea08"
}

.icon-right:before {
    content: "\ea09"
}

.icon-down:before {
    content: "\ea10"
}

.icon-tick:before {
    content: "\ea11"
}

.icon-calendar:before {
    content: "\ea12"
}

.icon-in:before {
    content: "\ea13"
}

.icon-out:before {
    content: "\ea14"
}

.icon-square:before {
    content: "\ea15"
}

.icon-bed:before {
    content: "\ea16"
}

.icon-wallet:before {
    content: "\ea17"
}

.icon-sun:before {
    content: "\ea18"
}

.icon-team:before {
    content: "\ea19"
}

.icon-free:before {
    content: "\ea20"
}

.icon-discount:before {
    content: "\ea21"
}

.icon-diamons:before {
    content: "\ea22"
}

.icon-user:before {
    content: "\ea50"
}

.icon-lock:before {
    content: "\ea51"
}

.icon-eye:before {
    content: "\ea52"
}

.icon-weixin:before {
    content: "\ea53"
}

.icon-code:before {
    content: "\ea54"
}

.icon-slide-chunk:before {
    content: "\ea55"
}

.icon-no-checkin:before {
    content: "\ea56"
}

.icon-no-pay:before {
    content: "\ea57"
}

.icon-no-remark:before {
    content: "\ea58"
}

.icon-is-remark:before {
    content: "\ea59"
}

.icon-is-cancel:before {
    content: "\ea60"
}

.icon-clock:before {
    content: "\ea61"
}

.icon-grade-star-empty:before {
    content: "\ea62"
}

.icon-grade-star-solid:before {
    content: "\ea63"
}

.icon-camera:before {
    content: "\ea64"
}

.icon-credit:before {
    content: "\ea65"
}

.icon-apartment:before {
    content: "\ea66"
}

.icon-message:before {
    content: "\ea67"
}

.icon-list:before {
    content: "\ea68"
}

.icon-coupon:before {
    content: "\ea69"
}

.icon-userinf:before {
    content: "\ea70"
}

.icon-no-affirm:before {
    content: "\ea71"
}

.icon-trash:before {
    content: "\ea72"
}

.icon-minus:before {
    content: "\ea73"
}

.icon-add:before {
    content: "\ea74"
}

.icon-ok:before {
    content: "\ea75"
}

.icon-fail:before {
    content: "\ea76"
}

.icon-order-over:before {
    content: "\ea77"
}

.icon-mobile:before {
    content: "\ea78"
}

.icon-close-eye:before {
    content: "\ea79"
}

.icon-key:before {
    content: "\ea80"
}

.icon-email:before {
    content: "\ea81"
}

.icon-question:before {
    content: "\ea82"
}

.icon-new-close:before {
    content: "\ea83"
}

.icon-thin-tick:before {
    content: "\ea84"
}

.icon-coupon-small:before {
    content: "\ea85"
}

.icon-HotWater:before {
    content: "\eb01"
}

.icon-ATM:before {
    content: "\eb02"
}

.icon-WIFI:before {
    content: "\eb03"
}

.icon-Security:before {
    content: "\eb04"
}

.icon-Strongbox:before {
    content: "\eb05"
}

.icon-Refrigerator:before {
    content: "\eb06"
}

.icon-DiningRoom:before {
    content: "\eb07"
}

.icon-Cooking:before {
    content: "\eb08"
}

.icon-Blower:before {
    content: "\eb09"
}

.icon-InductionCooker:before {
    content: "\eb10"
}

.icon-ElectricCooker:before {
    content: "\eb11"
}

.icon-Fan:before {
    content: "\eb12"
}

.icon-Television:before {
    content: "\eb13"
}

.icon-Lift:before {
    content: "\eb14"
}

.icon-ChildrenPark:before {
    content: "\eb15"
}

.icon-ButlerService:before {
    content: "\eb16"
}

.icon-LeftBaggage:before {
    content: "\eb17"
}

.icon-MeetingService:before {
    content: "\eb18"
}

.icon-ForeignCurrencyExchange:before {
    content: "\eb19"
}

.icon-FitnessRoom:before {
    content: "\eb20"
}

.icon-PickUpService:before {
    content: "\eb21"
}

.icon-Air-Condition:before {
    content: "\eb22"
}

.icon-Bathroom:before {
    content: "\eb23"
}

.icon-TravelService:before {
    content: "\eb24"
}

.icon-Washcloth:before {
    content: "\eb25"
}

.icon-Heating:before {
    content: "\eb26"
}

.icon-TicketService:before {
    content: "\eb27"
}

.icon-RecreationRoom:before {
    content: "\eb28"
}

.icon-SpeedyKettle:before {
    content: "\eb29"
}

.icon-BusinessServices:before {
    content: "\eb30"
}

.icon-LifeProducts:before {
    content: "\eb31"
}

.icon-Parking:before {
    content: "\eb32"
}

.icon-Slipper:before {
    content: "\eb33"
}

.icon-MicrowaveOven:before {
    content: "\eb34"
}

.icon-Toiletries:before {
    content: "\eb35"
}

.icon-LaundryService:before {
    content: "\eb36"
}

.icon-WashingMachine:before {
    content: "\eb37"
}

.icon-PostalService:before {
    content: "\eb38"
}

.icon-SwimmingPool:before {
    content: "\eb39"
}

.icon-WiredNetwork:before {
    content: "\eb40"
}

.icon-EntertainmentParty:before {
    content: "\eb41"
}

.icon-Bathtub:before {
    content: "\eb42"
}

.icon-CarRentalServices:before {
    content: "\eb43"
}

.icon-WakeupService:before {
    content: "\eb44"
}

html {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    -webkit-text-size-adjust: 100%;
    text-size-adjust: 100%;
    overflow: hidden;
    -webkit-overflow-scrolling: touch
}

body {
    height: 100%;
    width: 100%;
    font-family: "Helvetica-Light","Helvetica Neue", Helvetica, STHeiTi, sans-serif;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    position: relative;
    overflow: hidden;
    max-width: 640px;
    margin: 0 auto
}

ul,li {
    list-style: none
}

.hide {
    display: none
}

.clear-fix {
    overflow: auto
}

.clearfix {
    display: block
}

.clearfix::after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden
}

.none {
    display: none
}

.es-tbr {
    display: table-cell
}

.es-lh45 {
    line-height: 45px
}

.tc,.es_flow .es_header,.es_flow .es_header .title,.es_flow .es_header .left-icon,.es_flow .es_header .right-icon,.es_header_relative,.es_header_relative .title,.es_header_relative .left-icon,.es_header_relative .right-icon {
    text-align: center
}

.tr {
    text-align: right
}

.tl {
    text-align: left
}

.fr {
    float: right
}

.fl {
    float: left
}

.pdl-10px {
    padding-left: 10px
}

.pdl-20p {
    padding-left: 20%
}

.bg-milky {
    background-color: #F7F7F7
}

.cl-blue-light {
    color: #28A0DC
}

.cl-gray-light {
    color: #9E9F9F
}

.cl-gray-middle {
    color: #595757
}

.cl-blue-light {
    color: #28A0DC
}

.no-transition {
    -webkit-transition: none !important;
    transition: none !important
}

.rotate180 {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg)
}

.d-ilb {
    display: inline-block
}

.esLoading {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.3);
    position: fixed;
    z-index: 999
}

.esLoading .spinner {
    width: 70px;
    height: 70px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -35px 0 0 -35px
}

.esLoading .spinner::before {
    content: '';
    position: absolute;
    top: -5px;
    right: -5px;
    bottom: -5px;
    left: -5px;
    border-radius: 5px;
    background: rgba(0,0,0,0.6)
}

.esLoading .circle {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0
}

.esLoading .circle:before {
    content: '';
    display: block;
    margin: 0 auto;
    width: 6%;
    height: 6%;
    background-color: #fff;
    border-radius: 100%;
    -webkit-animation: bouncedelay 1.2s infinite ease-in-out;
    animation: bouncedelay 1.2s infinite ease-in-out;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both
}

@-webkit-keyframes bouncedelay {
    0%,80%,100% {
        opacity: 0
    }

    40% {
        opacity: 1
    }
}

@keyframes bouncedelay {
    0%,80%,100% {
        opacity: 0
    }

    40% {
        opacity: 1
    }
}

.esLoading .circle2 {
    -webkit-transform: rotate(30deg);
    transform: rotate(30deg)
}

.esLoading .circle2:before {
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s
}

.esLoading .circle3 {
    -webkit-transform: rotate(60deg);
    transform: rotate(60deg)
}

.esLoading .circle3:before {
    -webkit-animation-delay: -1s;
    animation-delay: -1s
}

.esLoading .circle4 {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg)
}

.esLoading .circle4:before {
    -webkit-animation-delay: -.9s;
    animation-delay: -.9s
}

.esLoading .circle5 {
    -webkit-transform: rotate(120deg);
    transform: rotate(120deg)
}

.esLoading .circle5:before {
    -webkit-animation-delay: -.8s;
    animation-delay: -.8s
}

.esLoading .circle6 {
    -webkit-transform: rotate(150deg);
    transform: rotate(150deg)
}

.esLoading .circle6:before {
    -webkit-animation-delay: -.7s;
    animation-delay: -.7s
}

.esLoading .circle7 {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg)
}

.esLoading .circle7:before {
    -webkit-animation-delay: -.6s;
    animation-delay: -.6s
}

.esLoading .circle8 {
    -webkit-transform: rotate(210deg);
    transform: rotate(210deg)
}

.esLoading .circle8:before {
    -webkit-animation-delay: -.5s;
    animation-delay: -.5s
}

.esLoading .circle9 {
    -webkit-transform: rotate(240deg);
    transform: rotate(240deg)
}

.esLoading .circle9:before {
    -webkit-animation-delay: -.4s;
    animation-delay: -.4s
}

.esLoading .circle10 {
    -webkit-transform: rotate(270deg);
    transform: rotate(270deg)
}

.esLoading .circle10:before {
    -webkit-animation-delay: -.3s;
    animation-delay: -.3s
}

.esLoading .circle11 {
    -webkit-transform: rotate(300deg);
    transform: rotate(300deg)
}

.esLoading .circle11:before {
    -webkit-animation-delay: -.2s;
    animation-delay: -.2s
}

.esLoading .circle12 {
    -webkit-transform: rotate(330deg);
    transform: rotate(330deg)
}

.esLoading .circle12:before {
    -webkit-animation-delay: -.1s;
    animation-delay: -.1s
}

.esLoading .icon {
    position: absolute;
    width: 34px;
    height: 34px;
    left: 50%;
    top: 50%;
    margin: -16px 0 0 -16px;
    color: white;
    font-size: 34px
}

.color-orange {
    color: #E78C00
}

.nowrap {
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: keep-all;
    white-space: nowrap
}

input[type=number] {
    -moz-appearance: textfield
}

input[type=number]::-webkit-inner-spin-button,input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0
}

.imgcode-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 75%;
    height: 200px;
    border-radius: 5px;
    background-color: #fff;
    text-align: center;
    z-index: 201
}

.imgcode-wrapper h2 {
    margin: 0 auto;
    width: 90%;
    height: 60px;
    border-bottom: 1px solid #D7D7D7;
    line-height: 60px;
    color: #E78C00;
    font-weight: normal
}

.imgcode-wrapper div {
    padding: 28px 5%;
    border-bottom: 1px solid #E0E0E0
}

.imgcode-wrapper div .imgcode {
    float: left;
    width: 65%;
    height: 3rem;
    padding-left: 3%;
    border: 1px solid #E0E0E0;
    outline: none;
    border-radius: 5px
}

.imgcode-wrapper div span {
    float: right;
    width: 32%;
    height: 3rem;
    border-radius: 5px
}

.imgcode-wrapper div span img {
    width: 100%;
    height: 97%
}

.imgcode-wrapper button {
    width: 100%;
    height: 40px;
    background-color: #fff;
    line-height: 40px;
    border: none;
    outline: none;
    color: #39f;
    font-size: 1.2rem;
    text-align: center
}

#mask-code {
    width: 100%;
    height: 100%;
    z-index: 200;
    background-color: rgba(0,0,0,0.3);
    position: absolute;
    top: 0;
    left: 0;
    display: none
}

.page-in {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0)
}

.page-right {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0)
}

.page-left {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0)
}

.page-up {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0)
}

.page-down {
    -webkit-transform: translate3d(0, 110%, 0);
    transform: translate3d(0, 110%, 0)
}

.sideBar {
    position: fixed;
    top: 43px;
    right: 2px;
    z-index: 101;
    min-width: 120px
}

.sideBar:before {
    position: absolute;
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 8px;
    border-color: transparent transparent #fff transparent;
    top: -16px;
    right: 10px
}

.sideBar li {
    display: block;
    font-size: 1.5rem;
    height: 46px;
    line-height: 46px;
    background-color: #fff;
    border-bottom: 1px solid #eeeeee
}

.sideBar li a {
    color: #3E3A39;
    display: block;
    padding: 0 16px
}

.sideBar li a span {
    color: #E78C00
}

.sideBar li:first-child {
    border-top-left-radius: 7px;
    border-top-right-radius: 7px
}

.sideBar li:last-child {
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px
}

.kf-box {
    position: fixed;
    z-index: 101;
    top: 50%;
    width: 253px;
    padding: 10px 15px;
    background-color: #fff;
    border-radius: 10px;
    margin: 0 auto;
    left: 50%;
    margin-left: -126px;
    margin-top: -88px;
    color: #727171
}

.kf-box .close {
    position: absolute;
    top: 14px;
    right: 16px;
    font-size: 16px
}

.kf-box h2 {
    color: #E78C00;
    font-size: 18px;
    padding-bottom: 7px;
    margin-bottom: 7px;
    border-bottom: 1px solid #e7e7e7;
    font-weight: normal;
    text-align: center
}

.kf-box p {
    line-height: 24px
}

.kf-box dl {
    line-height: 18px
}

.kf-box dl dt {
    display: inline-block;
    width: 3%;
    vertical-align: top;
    text-align: center;
    margin-bottom: 6px
}

.kf-box dl dd {
    display: inline-block;
    width: 94%;
    margin-bottom: 6px;
    line-height: 1.4rem
}

.cfmask {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0,0,0,0.3);
    z-index: 100;
    display: none
}

.es_flow {
    width: 100%;
    height: 100%;
    min-height: 100%;
    min-width: 320px;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out
}

.es_flow .es_header {
    font-size: 0;
    background-color: #fff;
    position: absolute;
    width: 100%;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    border-bottom: 1px solid #dedede
}

.es_flow .es_header .title {
    color: #5ab45d;
    height: 49px;
    line-height: 49px;
    font-size: 1.9rem
}

.es_flow .es_header .left-icon,.es_flow .es_header .right-icon {
    font-size: 1.8rem;
    color: #5ab45d;
    position: absolute;
    height: 49px;
    line-height: 49px;
    display: inline-block
}

.es_flow .es_header .left-icon:active,.es_flow .es_header .right-icon:active {
    background: #fcfcfc
}

.es_flow .es_header .left-icon {
    width: 50px;
    left: 0;
    text-align: left;
    padding-left: 3%;
    margin-left: 0
}

.es_flow .es_header .right-icon {
    width: 50px;
    right: 0;
    text-align: right;
    padding-right: 3%
}

.es_flow .es_header .text {
    font-size: 1.6rem;
    width: initial;
    right: 0;
    padding: 0 10px;
    top: 0
}

.es_flow .es_content {
    position: absolute;
    top: 50px;
    left: 0;
    right: 0;
    bottom: 0;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    -webkit-transform: translateZ(0);
    transform: translateZ(0)
}

.es_flow.slide-left {
    -webkit-transform: translateX(-250px);
    transform: translateX(-250px)
}

.es_flow_relative {
    width: 100%;
    height: 100%;
    min-height: 100%;
    min-width: 320px;
    position: relative;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out
}

.es_flow_relative.slide-left {
    -webkit-transform: translateX(-250px);
    transform: translateX(-250px)
}

.es_header_relative {
    font-size: 0;
    background-color: #fff;
    position: relative;
    width: 100%;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    border-bottom: 1px solid #dedede
}

.es_header_relative .title {
    color: #5ab45d;
    height: 49px;
    line-height: 49px;
    font-size: 1.9rem
}

.es_header_relative .left-icon,.es_header_relative .right-icon {
    font-size: 1.8rem;
    color: #5ab45d;
    position: absolute;
    height: 49px;
    line-height: 49px;
    display: inline-block
}

.es_header_relative .left-icon:active,.es_header_relative .right-icon:active {
    background: #fcfcfc
}

.es_header_relative .left-icon {
    width: 50px;
    left: 0;
    text-align: left;
    padding-left: 10px
}

.es_header_relative .right-icon {
    width: 40px;
    right: 0
}

.es_header_relative .text {
    font-size: 1.6rem;
    width: initial;
    right: 0;
    padding: 0 10px;
    top: 0
}

.es_content_relative {
    position: relative
}

@media screen and (max-width: 250px) {
    html,body {
        font-size:9px
    }
}

@media screen and (max-width: 280px) {
    html,body {
        font-size:10px
    }
}

@media screen and (max-width: 330px) {
    html,body {
        font-size:11px
    }
}

@media screen and (max-width: 380px) {
    html,body {
        font-size:12px
    }
}

@media screen and (min-width: 380px) {
    html,body {
        font-size:13px;
        color: #000
    }
}

.sideBar li {
    font-size: 15px
}

html {
    position: relative
}

#orderform {
    background-color: #F7F8F8;
    overflow-y: auto;
    overflow-x: hidden;
    width: 100%;
    height: 100%;
    position: absolute;
    -webkit-overflow-scrolling: touch
}

#orderform .es_header,#orderform .es_header_relative {
    z-index: 1
}

#orderform .es_header .title,#orderform .es_header_relative .title {
    font-size: 19px
}

#orderform .es_header i,#orderform .es_header_relative i {
    font-size: 18px
}

#orderform .orderform-content {
    padding-bottom: 1rem
}

#orderform .orderform-content .form-title {
    background-color: #FFF;
    height: 9rem;
    color: #a0a0a0;
    padding: 1.5rem;
    text-align: center
}

#orderform .orderform-content .form-title p {
    font-size: 1.2rem;
    font-weight: 400;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    margin-bottom: 0.5rem
}

#orderform .orderform-content .form-title span {
    display: inline-block;
    width: 70%;
    line-height: 1.8rem;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden
}

#orderform .orderform-content .form-title span i {
    letter-spacing: 0.2rem;
    vertical-align: -0.25rem
}

#orderform .orderform-content .order-date {
    background-color: #FFF;
    color: #5ab45d;
    white-space: nowrap;
    text-align: center;
    font-size: 1.3rem;
    border-bottom: 1px solid #EFEFEF;
    display: -webkit-box;
    display: flex;
    display: flex;
    text-align: center;
    padding: 10px 0
}

#orderform .orderform-content .order-date section {
    display: block;
    -webkit-box-flex: 1;
    flex: 1;
    text-align: center
}

#orderform .orderform-content .order-date section:first-child {
    border-right: 1px solid #EFEFEF
}

#orderform .orderform-content .order-date section i {
    letter-spacing: 0.5rem;
    vertical-align: -0.2rem;
    font-size: 1.5rem;
    font-weight: 300
}

#orderform .orderform-content .info-group {
    padding: 0 1rem;
    background-color: #FFF;
    margin-top: 0.6rem
}

#orderform .orderform-content .info-item {
    line-height: 4rem;
    font-size: 1.2rem;
    position: relative;
    font-weight: 400;
    border-top: 1px solid #F7F8F8;
    color: #a0a0a0
}

#orderform .orderform-content .info-item:first-child {
    border: 0
}

#orderform .orderform-content .info-item .operate {
    display: inline-block;
    position: absolute;
    right: 0;
    line-height: 4rem;
    vertical-align: middle;
    padding-left: 20px
}

#orderform .orderform-content .info-item .operate .icon-minus,#orderform .orderform-content .info-item .operate .icon-add {
    color: #5ab45d;
    font-size: 1.8rem;
    font-weight: 300;
    vertical-align: -0.2rem;
    line-height: 4rem;
    position: relative;
    top: -2px
}

#orderform .orderform-content .info-item .operate .icon-minus {
    color: #B7B7B7
}

#orderform .orderform-content .info-item .operate .icon-right {
    font-size: 1.4rem;
    vertical-align: -0.3rem;
    display: inline-block;
    margin-left: 0.5rem
}

#orderform .orderform-content .info-item .operate span {
    line-height: 3.2rem;
    display: inline-block;
    color: #525252
}

#orderform .orderform-content .upgrade-box {
    border-top: 1px solid #F7F8F8;
    color: #a0a0a0;
    font-size: 12px;
    padding: 5px 0
}

#orderform .orderform-content .upgrade-box .sliver_total_price,#orderform .orderform-content .upgrade-box .upgrade_preferential_price {
    color: #E78C00;
    font-style: normal
}

#orderform .orderform-content .upgrade-box label {
    color: #E78C00
}

#orderform .orderform-content .upgrade-box .linkCard {
    color: #5ab45d
}

#orderform .orderform-content .room-count {
    padding: 0
}

#orderform .orderform-content .room-count .info-item {
    line-height: 3.5rem;
    padding: 0 1rem
}

#orderform .orderform-content .room-count .operate {
    right: 1rem
}

#orderform .orderform-content .room-count .operate span {
    padding: 0 0.5rem;
    position: relative;
    top: -6px
}

#orderform .orderform-content .room-count .operate i.icon-right {
    vertical-align: 0.1rem;
    color: #525252
}

#orderform .orderform-content .room-count .count-tip {
    color: #A0A0A0;
    text-align: center;
    font-size: 1.2rem;
    line-height: 2.5rem;
    height: 0rem;
    overflow-y: hidden;
    display: block;
    height: 2.5rem
}

#orderform .orderform-content .room-count .count-tip i {
    vertical-align: -0.1rem;
    font-size: 1rem
}

#orderform .orderform-content .room-count .count-tip-show {
    line-height: 1.7rem
}

#orderform .orderform-content .reserve-type {
    text-align: center
}

#orderform .orderform-content .reserve-type .button-item {
    display: inline-block;
    width: 50%;
    border-right: 1px solid #F7F8F8
}

#orderform .orderform-content .reserve-type button {
    border: 1px solid #5ab45d;
    background-color: #FFF;
    height: 3.4rem;
    color: #5ab45d;
    font-size: 1.2rem;
    padding: 0.5rem 1.5rem;
    display: inline-block;
    vertical-align: middle;
    margin: 0.5rem;
    border-radius: 0.3rem
}

#orderform .orderform-content .reserve-type button span {
    font-size: 1rem
}

#orderform .orderform-content .reserve-type button.free {
    line-height: 1rem
}

#orderform .orderform-content .reserve-type button.active {
    background-color: #5ab45d;
    color: #fff
}

#orderform .orderform-content .pay-info .operate span b {
    font-size: 1.2rem;
    font-style: normal
}

#orderform .orderform-content .pay-info .sum,#orderform .orderform-content .pay-info .payable .operate span {
    font-size: 1.2rem
}

#orderform .orderform-content .pay-info .payable .operate span {
    color: #E78C00
}

#orderform .orderform-content .pay-info .payable-value,#orderform .orderform-content .pay-info .sum-value,#orderform .orderform-content .pay-info .coupon-use {
    font-style: normal
}

#orderform .orderform-content .pay-info .coupon .info-title {
    color: #E78C00
}

#orderform .orderform-content .pay-info .coupon .info-title i {
    font-size: 1.5rem;
    vertical-align: sub
}

#orderform .orderform-content .checkin-info input {
    text-align: right;
    font-size: 1.2rem;
    font-weight: 400;
    border: 0;
    outline: none;
    color: #525252
}

#orderform .orderform-content .warm-tip {
    padding: 1rem 1rem 0 1rem;
    color: #A0A0A0;
    white-space: nowrap;
    font-size: 1rem
}

#orderform .orderform-content .warm-tip p {
    display: inline-block;
    white-space: normal
}

#orderform .orderform-content .submit-order {
    border: 0;
    background-color: #5ab45d;
    display: block;
    width: 92%;
    margin-left: 4%;
    margin-top: 1rem;
    color: #fff;
    line-height: 3rem;
    font-size: 1.1rem;
    border-radius: 5px
}

.choice-Count {
    background-color: #FFF;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 101;
    width: 100%;
    padding: 0.5rem 2rem;
    -webkit-transition: all .3s;
    transition: all .3s
}

.choice-Count p {
    font-size: 1.2rem;
    text-align: center;
    line-height: 3.5rem
}

.choice-Count p.choice-item {
    border-top: 1px solid #EFEFEF;
    color: #5ab45d;
    text-align: left
}

.choice-Count-hidden {
    bottom: -23rem
}

.choice-man {
    background-color: #FFF;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 101;
    width: 100%;
    padding: 0.5rem 2rem;
    -webkit-transition: all .3s;
    transition: all .3s
}

.choice-man p {
    font-size: 1.2rem;
    text-align: center;
    line-height: 3rem
}

.choice-man p:first-child {
    border-bottom: 1px solid #EFEFEF;
    margin-bottom: 1rem
}

.choice-man p.choice-item {
    color: #5ab45d;
    text-align: center;
    border: 1px solid #5ab45d;
    margin: 0 2rem 1rem;
    border-radius: 0.4rem
}

.choice-man-hidden {
    bottom: -23rem
}

.exit-operate-contain {
    display: block;
    z-index: 201;
    position: absolute;
    top: 35%;
    background-color: #FFF;
    width: 74%;
    text-align: center;
    left: 50%;
    margin-left: -37%;
    border-radius: 10px;
    -webkit-animation: tip-show .5s;
    animation: tip-show .5s;
    vertical-align: middle;
    display: none
}

.exit-operate-contain p {
    font-size: 1.2rem;
    font-weight: 300;
    color: #525252;
    line-height: 5rem
}

.exit-operate-contain .exit-operate {
    white-space: nowrap;
    display: -webkit-box;
    display: flex;
    width: 100%;
    border-top: 1px solid #e7e7e7
}

.exit-operate-contain .exit-operate span {
    -webkit-box-flex: 1;
    flex: 1;
    display: block;
    padding: 0.8rem 0;
    background-color: #FFF;
    width: 43%;
    line-height: 2rem;
    color: #5ab45d;
    font-size: 1.2rem;
    border: none;
    outline: none
}

.exit-operate-contain .exit-operate span:first-child {
    border-bottom-left-radius: 10px
}

.exit-operate-contain .exit-operate span:last-child {
    border-left: 1px solid #e7e7e7;
    border-bottom-right-radius: 10px
}

.login-contain,.bind-phone {
    background-color: #FFF;
    position: fixed;
    top: 13%;
    left: 5%;
    z-index: 101;
    width: 90%;
    padding: 0.5rem 5%;
    -webkit-transition: all .3s;
    transition: all .3s;
    border-radius: 5px;
    display: none
}

.login-contain .login-title,.bind-phone .login-title {
    font-size: 1.5rem;
    text-align: center;
    line-height: 2.5rem;
    color: #E78C00;
    border-bottom: 1px solid #EFEFEF;
    font-weight: 300;
    padding-bottom: 0.3rem
}

.login-contain .operate-content,.bind-phone .operate-content {
    overflow: hidden
}

.login-contain .input-contain,.bind-phone .input-contain {
    position: relative;
    font-size: 1.5rem;
    border-bottom: 1px solid #EFEFEF;
    height: 4.5rem;
    white-space: nowrap
}

.login-contain .input-contain input,.bind-phone .input-contain input {
    background-color: rgba(255,255,255,0);
    border: 0px;
    height: 4.5rem;
    outline: none;
    padding-left: 2em;
    font-weight: 400;
    font-size: 1.2rem;
    width: 100%
}

.login-contain .input-contain b,.login-contain .input-contain i,.bind-phone .input-contain b,.bind-phone .input-contain i {
    position: absolute;
    left: 0;
    bottom: 1.3rem;
    font-size: 1.2em
}

.login-contain .input-contain b,.bind-phone .input-contain b {
    left: 90%;
    top: 1.3rem;
    display: inline-block;
    width: 3rem;
    height: 3rem;
    line-height: 3rem;
    vertical-align: middle;
    text-align: center;
    color: #EFEFEF;
    font-size: 1.1rem;
    display: none
}

.login-contain .input-contain span,.bind-phone .input-contain span {
    color: #5ab45d;
    position: absolute;
    right: 1rem;
    top: 1.5rem;
    font-size: 1.2rem;
    font-weight: 400
}

.login-contain .find-password,.bind-phone .find-password {
    color: #fff;
    font-size: 0.8em;
    display: block;
    border-bottom: 1px solid #fff;
    width: 4.2em;
    float: right;
    padding-top: 0.5em;
    font-weight: 700
}

.login-contain .affirm-login,.bind-phone .affirm-login {
    width: 100%;
    background-color: #5ab45d;
    border: 0;
    color: #fff;
    font-size: 1.3rem;
    line-height: 3rem;
    margin: 0.5rem 0 1rem;
    border-radius: 5px
}

.login-contain .close,.bind-phone .close {
    position: absolute;
    height: 2.5rem;
    width: 2.5rem;
    background-image: url("../img/close.png");
    top: -1rem;
    right: -1rem;
    background-size: cover;
    border-radius: 50%;
    background-color: #5ab45d
}

.login-contain .login-type-caontain,.bind-phone .login-type-caontain {
    border-bottom: 1px solid #EFEFEF;
    white-space: nowrap;
    position: relative
}

.login-contain .login-type-caontain section,.bind-phone .login-type-caontain section {
    display: inline-block;
    text-align: center;
    width: 50%;
    color: #5ab45d;
    font-size: 1.3rem;
    font-weight: 300;
    line-height: 4rem
}

.login-contain .login-type-caontain .slide-chunk,.bind-phone .login-type-caontain .slide-chunk {
    width: 50%;
    height: 3px;
    background-color: #5ab45d;
    position: absolute;
    bottom: -1px;
    left: 0;
    -webkit-transition: all .3s;
    transition: all .3s
}

.login-contain .login-type-caontain .chunk-slide-right,.bind-phone .login-type-caontain .chunk-slide-right {
    left: 50%
}

.login-contain .double-page,.bind-phone .double-page {
    width: 210%;
    display: inline-block;
    white-space: nowrap;
    -webkit-transition: all .3s;
    transition: all .3s
}

.login-contain .double-page .input-page,.bind-phone .double-page .input-page {
    width: 47.5%;
    display: inline-block;
    margin-right: 5%;
    vertical-align: top
}

.login-contain .double-page .input-page .show-password,.bind-phone .double-page .input-page .show-password {
    font-size: 1rem;
    left: 88%
}

.login-contain .login-tip,.bind-phone .login-tip {
    margin: 0.5rem 0
}

.login-contain .login-tip span,.bind-phone .login-tip span {
    color: #E78B02
}

.login-contain .login-tip p,.bind-phone .login-tip p {
    color: #777;
    white-space: normal
}

.login-contain .login-tip p a,.bind-phone .login-tip p a {
    color: #5ab45d
}

#mask,#masktwo {
    width: 100%;
    height: 100%;
    z-index: 100;
    background-color: rgba(0,0,0,0.3);
    position: absolute;
    top: 0;
    left: 0;
    display: none
}

#masktwo {
    z-index: 200
}

.operate-tip {
	display: block;
    z-index: 300;
    position: absolute;
    top: 40%;
    background-color: #FFF;
    width: 70%;
    text-align: center;
    left: 50%;
    margin-left: -35%;
    border-radius: 5px;
    animation: tip-show .5s;
    vertical-align: middle;
    -webkit-animation: tip-show .5s;
    animation: tip-show .5s;
    padding: 4% 4%
}

.opetate-tip-none {
    display: none
}

.operate-tip p {
    line-height: 1.5;
    display: inline-block
}

@-webkit-keyframes count-tip-show {
    0% {
        -webkit-transform: scale(0, 0);
        transform: scale(0, 0)
    }

    100% {
        -webkit-transform: scale(1, 1);
        transform: scale(1, 1)
    }
}

@keyframes count-tip-show {
    0% {
        -webkit-transform: scale(0, 0);
        transform: scale(0, 0)
    }

    100% {
        -webkit-transform: scale(1, 1);
        transform: scale(1, 1)
    }
}

@-webkit-keyframes tip-show {
    0% {
        -webkit-transform: scale(0, 0);
        transform: scale(0, 0)
    }

    30% {
        -webkit-transform: scale(1, 1);
        transform: scale(1, 1)
    }

    65% {
        -webkit-transform: scale(1.2, 1.2);
        transform: scale(1.2, 1.2)
    }

    100% {
        -webkit-transform: scale(1, 1);
        transform: scale(1, 1)
    }
}

@keyframes tip-show {
    0% {
        -webkit-transform: scale(0, 0);
        transform: scale(0, 0)
    }

    30% {
        -webkit-transform: scale(1, 1);
        transform: scale(1, 1)
    }

    65% {
        -webkit-transform: scale(1.2, 1.2);
        transform: scale(1.2, 1.2)
    }

    100% {
        -webkit-transform: scale(1, 1);
        transform: scale(1, 1)
    }
}

#avail-coupon {
    width: 100%;
    height: 100%;
    left: 100%;
    background-color: #F7F8F8;
    position: absolute
}

#avail-coupon .coupon-page {
    overflow-y: auto;
    height: 100%
}

#avail-coupon .coupon-page.button-show {
    padding-bottom: 4rem
}

#avail-coupon .es_header,#avail-coupon .es_header_relative {
    z-index: 1
}

#avail-coupon .es_header .title,#avail-coupon .es_header_relative .title {
    font-size: 19px
}

#avail-coupon .es_header i,#avail-coupon .es_header_relative i {
    font-size: 18px
}

#avail-coupon .couple-ul {
    margin: 10px 2%
}

#avail-coupon .couple-ul li {
    display: block;
    position: relative;
    width: 100%;
    white-space: nowrap;
    margin-bottom: 0.6rem;
    position: relative;
    overflow: hidden;
    color: #fff;
    padding: 2% 8% 4% 8%
}

#avail-coupon .couple-ul li.active .choice-icon {
    background: url("http://webpic.estay.com/webui/images/wap/mycoupons/tick-icon.png");
    background-size: 100% 100%;
    background-repeat: no-repeat
}

#avail-coupon .couple-ul li.ty {
    background: url("http://webpic.estay.com/webui/images/wap/mycoupons/q-ty-bg.png");
    background-repeat: no-repeat;
    background-size: 100% 100%
}

#avail-coupon .couple-ul li.ot {
    background: url("http://webpic.estay.com/webui/images/wap/mycoupons/q-ot-bg.png");
    background-repeat: no-repeat;
    background-size: 100% 100%
}

#avail-coupon .couple-ul li.old {
    background: url("http://webpic.estay.com/webui/images/wap/mycoupons/q-old-bg.png");
    background-repeat: no-repeat;
    background-size: 100% 100%
}

#avail-coupon .couple-ul li.yh {
    background: url("http://webpic.estay.com/webui/images/wap/mycoupons/q-yh-bg.png");
    background-repeat: no-repeat;
    background-size: 100% 100%
}

#avail-coupon .couple-ul li .fl {
    float: left;
    width: 30%
}

#avail-coupon .couple-ul li .fl .tit1 {
    font-size: 35px
}

#avail-coupon .couple-ul li .fl .tit2 {
    font-size: 20px;
    margin-top: -3px
}

#avail-coupon .couple-ul li .fr {
    float: right;
    margin-right: 9%;
    width: 55%;
    text-align: right
}

#avail-coupon .couple-ul li .fr .day {
    height: 30px;
    margin-top: 5%
}

#avail-coupon .couple-ul li .fr .day span {
    display: inline-block;
    background: url("http://webpic.estay.com/webui/images/wap/mycoupons/time-bg.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    color: #f00;
    padding: 3px 6px 3px 12px
}

#avail-coupon .couple-ul li .fr .des {
    margin-bottom: 3px
}

#avail-coupon .couple-ul li .choice-icon {
    position: absolute;
    right: 1rem;
    font-size: 1.8rem;
    top: 50%;
    margin-top: -0.8rem;
    display: inline-block;
    border-radius: 50%;
    width: 1.5rem;
    height: 1.5rem;
    margin-right: 3%;
    background-color: rgba(0,0,0,0.1);
    color: transparent;
    overflow: hidden
}

#avail-coupon .affirm-coupon {
    border: 0;
    background-color: #5ab45d;
    width: 100%;
    color: #fff;
    display: block;
    line-height: 4rem;
    height: 4rem;
    font-size: 1.3rem;
    position: fixed;
    bottom: -4rem;
    left: 0;
    -webkit-transition: -webkit-transform .3s;
    transition: -webkit-transform .3s;
    transition: transform .3s;
    transition: transform .3s, -webkit-transform .3s
}

#avail-coupon.page-left .affirm-coupon.show {
    -webkit-transform: translate(0, -4rem);
    transform: translate(0, -4rem)
}

.successUpBox {
    position: absolute;
    left: 5%;
    right: 5%;
    top: 30%;
    z-index: 300;
    background-color: #fff;
    text-align: center;
    border-radius: 8px;
    overflow: hidden;
    display: none
}

.successUpBox .tit-1 {
    color: #757070;
    font-size: 16px;
    padding-top: 24px;
    padding-bottom: 10px
}

.successUpBox .tit-2 {
    color: #969595;
    font-size: 14px;
    padding-bottom: 18px
}

.successUpBox .continus {
    border-top: 1px solid #F7F8F8;
    color: #5ab45d;
    font-size: 16px;
    padding-top: 12px;
    padding-bottom: 12px
}
